<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.max.ifp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ijoy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ijoy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ConnectActivity"
            android:label="@string/title_activity_connect"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JoystickActivity"
            android:label="@string/title_activity_joystick"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JoystickActivity2"
            android:label="@string/title_activity_joystick2"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>